<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<%- include('../compartido/menu/menu-component') %>
<!-- usuario/inicio.ejs -->
<!-- "=" -->
<p><%= "Hola" %></p>
<p><%= 15 %></p>
<!-- "< % % >"-->
<% const andres = {nombre: "Andres", apellido: "Ruiz", cedula: "17"} %>
<% const numero = 25 %>
<% const mensaje = "Hola" %>
<p><%= andres.nombre %> <%= andres.apellido %></p>
<p><%= numero %></p>
<p><%= mensaje %></p>
<% const arregloNumeros = [1, 2, 3, 4, 5] %>
<ul>
    <% arregloNumeros.forEach( (objeto)=>{ %>
        <li><%= objeto %></li>
    <% } ) %>
</ul>

<a href="/usuario/vista/crear">
    <button>Crear</button>
</a>
<%if(typeof parametrosConsulta != 'undefined') {%>
    <p>MENSAJE: <%= parametrosConsulta.mensaje%></p>
<%}%>
<form action="/usuario/vista/inicio"
        method="GET">
    <label for="busqueda">Busqueda:</label>
    <input id="busqueda" type="text" name="busqueda">
    <button type="submit"> Buscar</button>
</form>
<table>
    <!--table row-->
    <tr>
        <!--table header-->
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>Acciones</th>
    </tr>
    <% arregloUsuarios.forEach( (objeto)=>{ %>
        <tr>
            <td><%= objeto.nombre %></td>
            <td><%= objeto.apellido %></td>
            <td><%= objeto.cedula %></td>
            <td>
                <button>Ver</button>
                <a href="/usuario/vista/editar/<%= objeto.id %>"><button>Editar </button></a>
                
                <form action="/usuario/eliminarDesdeVista/<%= objeto.id %>"
                      method="POST"
                >
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
    <% } ) %>

</table>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>